html * {
    font-size: 2vh;
}

body {
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
}
.result {
    margin: 5px 5px 5px;
}

div {
    padding: 15px 0 0;
}
.result > h1 {
    font-size: 2em;
}

.resNum {
    font-family:    Arial, Helvetica, sans-serif;
    font-weight:    bold;
}

.btn-group {
    display: flex;
    border: 1px solid green;
    border-radius: 5px;
    margin: 0.5vh;
    padding: 0.5vh;
    align-items: center;
    flex-wrap: nowrap;
    flex-direction: row;
}

label {
    padding: 0 1em 0 0.2em;
}

.qst-group {
    margin: 0.5em;
    padding: 10px;
}

.btn-cmd:hover {
    background-color: orange;
    color: blue;
}

#quizSection {
    padding: 0px;
    width: 90vw;
    text-align: center;
}

.questText {
    margin: 1vh 0;
    font-size: 3vh;
}

.querryPicture {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    max-height: 90vh;
    padding: 0;
}

.querryPicture > span {
    display: inline-block;
    /* flex-direction: column; */
    /* align-items: center; */
    width: auto;
    /* height: 100%; */
    /* max-height: 95vh; */
    /* text-align: center; */
    /* max-width: 80vw;*/
}
.querryPicture > span2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1;
}

/* .querryPicture img {
    object-fit: contain; */
    /* max-height: 75vh; */
    /* height: 100%;
    width: 100%;
    display: inline-block;
} */

.querryPicture img {
    object-fit: contain;
    max-height: 87vh;
    /* height: auto; */
    /* width: 100%; */
    /* max-width: 80vw; */
    display: inline-block;
}

ol {
    display: flex;
    /* align-content: center;
    justify-content: center; */
    align-items: center;
    flex-wrap: wrap;
    flex-direction: column;
    padding-inline-start: 0;
    margin: 1.5em;
}
it {    
    list-style-type: decimal;
    margin-block-start: 1em;
    margin-block-end: 0.3rem;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 0px;
    border: blue solid 2px;
    border-radius: 2vh;
    padding: 0.25em;
    width: 5em;
    font-size: 2vh;
}

it:hover {
    background-color: yellow;
}

#commands {
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 7.5vh;
}
#commands>div {
    display: flex;
    flex-direction: row;
}

#greeting {
    margin: 5px 5vw;
}


@media screen and (orientation: portrait) {
    .querryPicture {
        flex-direction: column;
    }

    ol {
        flex-direction: row;
        margin: 0;
    }
    it {
        margin: 0.1vh 0.2vh;
    }

    .querryPicture img {
        object-fit: contain;
        max-height: 83vh;
        max-width: 90vw;
        height: auto;
        width: 100%;
    }
}

@media screen and (orientation: landscape) {
/* done with settings without media querry */
}

[hidden]{
    display:none !important;
}